img[src="assets/LOGO_SOLWIT.png"] {
    max-width: 500px;
    width: 100%;
    margin: 10% auto;
    display: block;
}

h3#mmotelgitbooksiots-ng-path-angular-part-2content,
h1#ścieżka-tsng-angular-część-2 {
    text-align: center;
}
